
<div class="container">
<br><br><br>


<%= link_to sheet.name, sheet %> <%= link_to 'Edit', edit_sheet_path(sheet) %> <%= sheet.round1g1a %> <%= sheet.total_points %><br>
<% end %>
Master: <%= @master.round1g1a %>
Sheets <%= @sheets.count %>
</div>