

    <div class=""><%= @sheet.name %> for <%= current_user.fullname %> 	
</div>
  
  
<table summary="Tournament Bracket" class="mm">
 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g1a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g1a %></p></td>

  <td rowspan="4" class="mm"><p class="mm"><%= @sheet.round3g1a %></p></td>

  <td rowspan="8" class="mm"><p class="mm"><%= @sheet.round4g1 %></p></td>

  <td rowspan="16" class="mm"><p class="mm"><%= @sheet.round5g1 %></p></td> 

  <td rowspan="8" class="mm"><p class="mm"><%= @sheet.round6 %></p></td>

  <td rowspan="16" class="mm"><p class="mm"><%= @sheet.round5g2 %></p></td>

  <td rowspan="8" class="mm"><p class="mm"><%= @sheet.round4g3 %></p></td>

  <td rowspan="4" class="mm"><p class="mm"><%= @sheet.round3g1b %></p></td>

  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g1b %></p></td>

  <td class="mm"><p class="mm"><%= @sheet.round1g1b %></p></td>
 </tr>
 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g2a %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g2b %></p></td>
 </tr>
 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g3a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g2a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g2b %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g3b %></p></td>
 </tr>
 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g4a %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g4b %></p></td>
 </tr>
 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g5a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g3a %></p></td>
  <td rowspan="4" class="mm"><p class="mm"><%= @sheet.round3g2a %></p></td>
  <td rowspan="4" class="mm"><p class="mm"><%= @sheet.round3g2b %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g3b %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g5b %></p></td>
 </tr>
 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g6a %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g6b %></p></td>
 </tr>
 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g7a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g4a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g4b %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g7b %></p></td>
 </tr>
 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g8a %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g8b %></p></td>
 </tr>

 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g9a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g5a %></p></td>
  <td rowspan="4" class="mm"><p class="mm"><%= @sheet.round3g3a %></p></td>
  <td rowspan="8" class="mm"><p class="mm"><%= @sheet.round4g2 %></p></td>
  <td rowspan="32" align="center"><%= link_to "Edit Bracket", edit_sheet_path(@sheet), :class => "btn btn-success" %><p class="mm"></p></td>
  <td rowspan="8" class="mm"><p class="mm"><%= @sheet.round4g4 %></p></td>
  <td rowspan="4" class="mm"><p class="mm"><%= @sheet.round3g3b %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g5b %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g9b %></p></td>
 </tr>

 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g10a %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g10b %></p></td>
 </tr>

 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g11a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g6a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g6b %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g11b %></p></td>
 </tr>

 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g12a %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g12b %></p></td>
 </tr>

 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g13a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g7a %></p></td>
  <td rowspan="4" class="mm"><p class="mm"><%= @sheet.round3g4a %></p></td>
  <td rowspan="4" class="mm"><p class="mm"><%= @sheet.round3g4b %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g7b %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g13b %></p></td>
 </tr>

 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g14a %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g14b %></p></td>
 </tr>

 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g15a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g8a %></p></td>
  <td rowspan="2" class="mm"><p class="mm"><%= @sheet.round2g8b %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g15b %></p></td>
 </tr>

 <tr>
  <td class="mm"><p class="mm"><%= @sheet.round1g16a %></p></td>
  <td class="mm"><p class="mm"><%= @sheet.round1g16b %></p></td>
 </tr>
</table>
