
<div class="container">
	<div class="hero-unit">
	        <div class="mytitle">March Madness Brackets <%= Time.now.strftime("%Y") %></div>
	      </div>
<br>


<br><br>

<% if user_signed_in? %>
  <% unless @sheet.nil? %>
   <%= link_to 'View Master Sheet', sheet_path(@sheet), :class => "btn btn-info" %><br><br>
  <% end %>
	<% if current_user.is_admin? %>
	
<%= link_to 'Calculate', points_path, :class => "btn btn-success" %> <%= link_to 'Lock', lock_sheets_path, :class => "btn btn-danger" %><br><br><%= link_to 'Add Bracket', new_sheet_path, :class => "btn success" %><br>
<% end %>
<% end %>


<div class="row">
        <div class="span3">
          <h2>Scoring</h2>
           <p>Round 1 - 1pt </p>
		   <p>Round 2 - 2pts </p>
		   <p>Round 3 - 4pts </p>
		   <p>Round 4 - 8pts </p>
		   <p>Round 5 - 16pts </p>
		   <p>Round 6 - 32pts </p>
		   <p>*Points per win</p><br>
<!--		   <p>1st - $145</p>  
		   <p>2nd - $60</p>
		   <p>3rd - $20</p>
-->          
        </div>
        <div class="span4">
          <h2>Champion Pick</h2>
		  <table width="50%">
           <% @picks.each do |pick| %>
           <tr><td><%= pick[0] %></td><td align="right"><%= pick[1] %></td></tr>
		   <% end %>
		  </table>
       </div>
        <div class="span5">
          <h2>Leaders <%= link_to 'View All', leaders_path, :class => 'btn' %></h2>
          <table width="50%">
           <% @leaders.each do |leader| %>
           <tr>
			 <td>
	           <%= leader.name %></td><td align="right"><%= leader.total_points %>
		     </td></tr>
		   <% end %>
		  </table>

        </div>
      </div>
<div>