
<% @page = 'front' %><br>
<br>
<br>
<br>
<br>
<div class="login">
<h2><font color="white">Sign in to Brackets <%= Time.now.strftime("%Y") %></font></h2>
<br>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, :placeholder => 'Email Address' %></div>

  <div>
  <%= f.password_field :password, :placeholder => 'Password' %></div>

  
  <div><%= f.submit "Sign in", :class => 'btn' %> <font color="white">or</font> <%= link_to "Register", new_registration_path(resource_name), :class => 'btn btn-success' %></div>
<% end %>

<%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'login_lnk' %><br />
</div>